/gateway/target/
/test-unit/target/
/message-unit/target/
/authprovider/target/
/IO/core/target/
/IO/io-unit/target/
/IO/importers/importer-plain/target/
/IO/exchanger-unit/target/
/IO/exporters/exporter-plain/target/
/IO/importers/importer.mail/target/
/IO/exporters/export-mail/target/
/IO/exporters/exporter-mail/target/
/IO/importers/importer-telegram/target/
/ui/target/
/IO/importers/importer-rss/target/
/uix/target/
