<!DOCTYPE html>
<html>
    <head>
        <title>RIBBON 2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    </head>
    <body>
        <input type="submit" value="LOGOUT" hx-post="/logout" hx-trigger="click"/>
        Hi, ${user.login}!<br/>
        Email: ${user.email}<br/>
        Groups:<br/>
        <#list user.groups as group>
            <li>${group}</li>
        </#list>
        <!--<div id="dirs" hx-trigger="load, every 30s" hx-get="/directories">
            
        </div>-->
        
        <div id="messages" hx-trigger="load" hx-get="/messages/System.Test?page=0&amp;pageSize=30">
            
        </div>
    </body>
</html>
