<#if !inline>
<div id="message-loader" hx-trigger="messageDeleted from:body, every 30s" hx-get="/messages/${directory}?page=${page}&pageSize=${pageSize}&inline=true" hx-swap="innerHTML">
</#if>
<div style="overflow: scroll; max-height: 28em;">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Header</th>
        </tr>
    </thead>
    <tbody>
        <#list messages.content as message>
        <tr hx-get="/messsages/${directory}/uid/${message.uid}" hx-target="#content">
            <td scope="row">
                ${message.id?c}
            </td>
            <td>${message.createdBy}</td>
            <td>${message.created.format('yyyy MM dd HH:mm:ss')}</td>
            <td>
                <#if message.isUrgent()>
                    <span class="badge rounded-pill bg-danger">Urgent</span>
                </#if>
                ${message.header}
            </td>
        </tr>
        </#list>
    </tbody>
</table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <#list messages.pagination as pagination>
        <#if pagination.active>
            <li class="page-item"><a class="page-link" href="#" hx-get="${pagination.url}" hx-target="#messages">${pagination.caption}</a></li>
        <#else>
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">${pagination.caption}</a>
            </li>
        </#if>
    </#list>
  </ul>
</nav>
<#if !inline>
</div>
</#if>